* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: white;
  height: 100%;
}

a {
  text-decoration: none;
}

.main-content {
  display: flex;
  height: 100vh;
}

.main-right-content {
  margin: 0 auto;
  width: 600px;
}

.side-bar div {
  padding: 12px;
}

.side-bar a {
  color: #060606;
}

.side-bar {
  background-color: #fff;
  padding: 12px;
  border-right-width: 1px;
  border-right-color: #dadcdb;
  border-right-style: solid;
}

footer{
  padding: 20px;
  text-align: center;
  background-color: #eee;
  width: 100%;
}

input {
  margin: 4px;
  padding: 8px;
  width: 100%;
}

textarea {
  margin: 4px;
  padding: 8px;
  width: 100%;
}

.kintai-bottom-button {
  display: flex;
  justify-content: space-between;
}

.kintai-bottom-button button {
  padding: 10px 15px;
  width: 100px;
  border: none;
  background-color: #efefef !important;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #060606;
  text-align: center;
  text-decoration: none;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kintai-bottom-button button:hover {
  background-color: #dbdbdb !important;
}

.button {
  width: 100px;
  background-color: #efefef !important;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
  color: #060606;
  text-align: center;
  text-decoration: none;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: #dbdbdb !important;
}

.profile-list-button{
  background-color: #0095f6;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
  color: white;
  text-align: center;
  text-decoration: none;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-list-button:hover {
  background-color: #1a77f2;
}

.button-delete {
  padding: 10px 15px;
  width: 100px;
  border: none;
  background-color:#ed4956;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: none;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview {
  background-image:url(uploads/tokumei.jpeg);border-radius: 50%;width: 100px; height: 100px;background-size: cover;;margin-right: 10px;
}
